<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}" />
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body>
    {% block body %}
      {% block content %}{% endblock %}
    {% endblock %}

    {% block javascripts %}
      <script src="{{ asset('bundles/app/js/jquery.min.js') }}" type="text/javascript"></script>
      <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}" type="text/javascript"></script>
    {% endblock %}
  </body>
</html>

