{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block header_logo %}
  <a href="{{ path('dashboard') }}" class="logo" title="">
    <img src="/bundles/app/images/logo.png" alt="" />
  </a>
{% endblock header_logo %}  
